@import "../../colors.scss";

.grid-container {
  display: block;

  table {
    border: 1px solid $gray;
    border-collapse: separate;
    border-spacing: 2px;

    th, td {
      padding: 10px;
      text-align: center;
      width: 20px;
    }

    .table-activity-name {
      text-align: left;
      width: auto;
    }

    .table-clickable {
      cursor: pointer;

      &:focus, &:hover {
        background-color: $red;
        color: #fff;
      }
    }
    .table-total {
      background-color: transparent;
      color: $black;
      font-weight: bold;
    }
    .table-dayNotDone {
      background-color: $darkgray;
      border-radius: 50%;
      color: #fff;
    }
    .table-dayIsDone {
      background-color: $green;
      border-radius: 50%;
      color: #fff;
    }

  }
}

@import "../../mediaqueries.scss";
