@import "../../colors.scss";
@import "../../extensions.scss";

.wrapper {
  margin: 0 auto;
  padding: 20px;
  width: 1200px;
}

.mp-header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .mp-header-section-team {
    align-items: flex-end;
    display: flex;
    flex-direction: column;

    .mp-header-section-button {
      @extend %button-shared;
    }
  }
}

.activity-section-grid {
  height: auto;
  width: 100%;

  .activity-section-form {
    margin-top: 20px;
    position: relative;
    width: 250px;

    .activity-form {
      border: 1px solid $gray;
      height: 30px;
      padding: 5px 85px 5px 10px;
      width: 165px;
    }

    .add-activity {
      @extend %button-shared;
      height: 30px;
      padding: 0 10px;
      position: absolute;
      margin-left: 20px;
      right: -5px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}

.activity-section-log {
  margin-top: 30px;

  ul {
    list-style: none;
    padding-inline-start: 10px;
  }
}

.mp-modal {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  .mp-modal-main {
    background: $white;
    height: auto;
    left: 50%;
    padding: 20px;
    position:fixed;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 40%;

    .mp-modal-content {
      height: 100%;
      .mp-modal-workout-form {
        align-items: center;
        display: flex;

        select {
          border: 1px solid $gray;
          height: 35px;
          margin-left: 10px;
          padding: 5px;
        }
      }
    }

    .choose {
      @extend %button-shared;
      margin-top: 20px;
    }

    .close {
      background-color: transparent;
      border: none;
      font-size: 48px;
      position: absolute;
      right: 5px;
      top: 0;
    }
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
@import "../../mediaqueries.scss";
