@import "../../colors.scss";

.wrapper {
  padding: 20px;
}

.mp-header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .mp-header-section-team {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    
    .mp-header-section-button {
      border: 1px solid #333;
    }
  }
}

.activity-section-grid {
  background-color: lightyellow;
  height: 400px;
  width: 100%;
}

.activity-section-log {
  background-color: lightpink;
}


.mp-modal {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  .mp-modal-main {
    background: $white;
    height: auto;
    left: 50%;
    padding: 20px;
    position:fixed;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    
    .mp-modal-content {
      
      
      .mp-modal-workout-form {
        align-items: center;
        display: flex;
        
        select {
          border: 1px solid $gray;
          height: 35px;
          margin-left: 10px;
          padding: 5px;
        }
      }
    }
    
    .choose {
      background-color: $red;
      border: none;
      color: $white;
      display: block;
      height: 35px;
      margin-top: 20px;
      width: 80px;
    }
    
    .close {
      background-color: transparent;
      border: none;
      font-size: 48px;
      position: absolute;
      right: 5px;
      top: 0;
    }  
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
