@import "colors.scss";

.header {
  background: $red;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;

    h1 {
      color: #fff;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
    }
}
